*{transition:1s}
div,a{border-radius:0 5em;text-shadow:0 0 10px}
#b,button{font:2em Segoe UI Symbol}
#b{background:url(wo4.jpg),repeating-linear-gradient(90deg,#A40,#000 1em);min-height:3px;overflow:hidden;text-align:center}
#b>*{float:left}
#师{background:url(wo12.jpg),repeating-linear-gradient(rgba(166,100,19,.5),rgba(255,255,255,.5)1em),repeating-linear-gradient(90deg,#A61,#FFF 1em);height:480%;width:85%;perspective:999em}
#师>*{background:linear-gradient(91deg,#FED,#555 3%,rgba(205,160,70,.5) 10%),url(wa2.jpg);border:#930 10px ridge;height:20%;left:10%;position:relative;width:80%}
img{border-radius:3em}
#师>:nth-child(1):after{content:'Page No. 1'}
#师>:nth-child(2):after{content:'Page No. 2'}
#师>:nth-child(3):after{content:'Page No. 3'}
#师>:nth-child(4):after{content:'Page No. 4'}
#师>:nth-child(5):after{content:'Page No. 5'}
#师>*:after{content:'';font-family:Edwardian Script ITC,esi}
#师>:nth-child(-n+2) em:before{content:'200'}
a{display:block}
#b>:last-child{background:rgba(0,0,0,.25);box-shadow:-1em 1em 9px 1px;height:98%;width:15%;transform:translateZ(0);z-index:1}
button{background:url(wa2.jpg),#FFF;color:rgba(124, 124, 124, 0.5);border-radius:3em;height:2.5em;margin-bottom:-.5em;opacity:.5;outline:0;width:2.5em}
button:hover{opacity:.9}
button:focus{box-shadow:#000 -25px 25px 20px 10px;opacity:1;color:rgba(0,0,0,.5);text-shadow:rgba(167,68,35,.6)0 3px 9px}
button:nth-child(even){float:left}
button:nth-child(odd){float:right}
.一{transform:translateY(0%)}
.二{transform:translateY(-20.55%)}
.三{transform:translateY(-41.1%)}
.四{transform:translateY(-61.65%)}
.五{transform:translateY(-82.2%)}
::selection{background:#E73}
@font-face{font-family:esi;src:url(esi.woff)}